*{
    margin: 0;
    padding: 0;
}
.container{
    height: 100vh;
    background: linear-gradient(to right,black,rgb(236, 8, 187),black);
    font-family: 'Abril Fatface', cursive;
    /*background: linear-gradient(to right,black,skyblue,black);*/
}
.slideshow{
    box-sizing: border-box;
}
.content{
    margin: auto;
    width: 130px;
    perspective: 1000px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.content-carrousel{
    width: 100%;
    position: absolute;
    float: right;
    animation: rotar 15s infinite linear;
    transform-style: preserve-3d;
}
.content-carrousel:hover{
    animation-play-state: paused;
    cursor: pointer;
}
.content-carrousel figure{
    width: 100%;
    height: 90px;
    border: 1px solid #4d444d;
    overflow: hidden;
    position: absolute;
}
.content-carrousel figure:nth-child(1){
    transform: rotateY(0deg) translateZ(200px);
}
.content-carrousel figure:nth-child(2){
    transform: rotateY(40deg) translateZ(200px);
}
.content-carrousel figure:nth-child(3){
    transform: rotateY(80deg) translateZ(200px);
}
.content-carrousel figure:nth-child(4){
    transform: rotateY(120deg) translateZ(200px);
}
.content-carrousel figure:nth-child(5){
    transform: rotateY(160deg) translateZ(200px);
}
.content-carrousel figure:nth-child(6){
    transform: rotateY(200deg) translateZ(200px);
}
.content-carrousel figure:nth-child(7){
    transform: rotateY(240deg) translateZ(200px);
}
.content-carrousel figure:nth-child(8){
    transform: rotateY(280deg) translateZ(200px);
}
.content-carrousel figure:nth-child(9){
    transform: rotateY(320deg) translateZ(200px);
}
.shadow{
    position: absolute;
    box-shadow: 0px 0px 10px 0px #000;
    border-radius: 5px;
}
.content-carrousel img{
    image-rendering: auto;
    transition: all 300ms;
    width: 100%;
    height: 100%;
}
.content-carrousel img:hover{
    transform: scale(1.2);
    transition: all 300ms;
}
@keyframes rotar{
    from{
        transform: rotateY(0deg);
    }
    to{
        transform: rotateY(360deg);
    }
}
.letter{
    position: relative;
    top: 65%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    font-size: 20px;
    margin: 20px;
}
.cards {
    display: grid;
    grid-gap: 2em;
    margin-bottom: 30px;
  }
  .cards .carded {
    margin-bottom: 15px;
    box-shadow: 15px 15px 35px rgba(0,0,0,0.3);
    border-radius: .3em;
    width: 50px;
    height: 50px;
    padding: 10px 10px;
    cursor: pointer;
  }
  @media (min-width: 0px){
    .cards{
      grid-template-columns:repeat(3,1fr) ;
    }
  }
  @media (min-width: 350px){
    .cards{
      grid-template-columns:repeat(3,1fr) ;
    }
  }
  @media (min-width: 850px){
    .cards{
      grid-template-columns:repeat(6,1fr) ;
    }
  }
  @media (min-width: 1200px){
    .cards{
      grid-template-columns:repeat(6,1fr) ;
    }
  }
  button{
      font-family: 'Abril Fatface', cursive;
      font-size: 25px;
      background-color: transparent;
      width: 150px;
      height: 50px;
      outline: none;
      border-radius: 5px;
      box-shadow: 5px 5px 10px 5px black;
      cursor: pointer;
  }